// =============================================================================
// Forms
// =============================================================================
form { margin: 0; }

// -----------------------------------------------------------------------------
// Labels
// -----------------------------------------------------------------------------
label {
  display: block;
  cursor: pointer;
}

// -----------------------------------------------------------------------------
// Inputs
// -----------------------------------------------------------------------------
input {
  width: 100%;
  padding: rem(16);
  background-color: swatch(off-white);
  box-shadow: 0 0 0 0 swatch(cyan);
  border: 0;
  transition:
    background $base-animation-speed * 2 $base-animation-easing,
    box-shadow $base-animation-speed * 2 $base-animation-easing;

  &:focus {
    background-color: swatch(white);
    box-shadow: 0 0 0 rem(2) swatch(cyan);
    outline: 0;
  }

  &[type='submit'] {
    background-color: color(black);
    border: 0;
    color: color(white);
    font-weight: 500;
    text-transform: uppercase;
  }
}

textarea {
  @extend input;
}
