// =============================================================================
// Typography
// =============================================================================
body {
  font: 300 18px/1.5 'effra', Helvetica, Arial, sans-serif;
  color: color(black);
}

// -----------------------------------------------------------------------------
// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  font-family: 'effra', Helvetica, Arial, sans-serif;
  font-weight: 500;
}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------
a {
  color: #1EAAF1;
  text-decoration: none;
}
