// =============================================================================
// Typography
// =============================================================================
body {
  font: 100 19px/2 $base-font;
  color: swatch(gray);
}

// -----------------------------------------------------------------------------
// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  font-family: $base-font;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-weight: 100;
  font-size: rem(62);
  line-height: 1.13;

  @include media('>=tablet') {}
}
h2 {
  font-weight: 400;
  font-size: rem(48);
  line-height: 1.13;

  @include media('>=tablet') {}
}
h3 {
  font-weight: 700;
  font-size: rem(32);

  @include media('>=tablet') {}
}
h4 {
  font-weight: 100;
  font-size: rem(28);

  @include media('>=tablet') {}
}
h5 {
  font-weight: 400;
  font-size: rem(24);

  @include media('>=tablet') {}
}
h6 {
  font-weight: 700;
  font-size: rem(21);

  @include media('>=tablet') {}
}

// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------
a {
  //color: swatch(pink);
  text-decoration: none;
  //transition: color $base-animation-speed $base-animation-easing;

  &:hover {
    //color: lighten(swatch(pink), 10%);
  }
  &:focus {
    background-color: #fc0;
    outline: rem(3) solid #fc0;
  }
}
