<div class="copyright">
  &copy; Copyright {{ now.year }}. All rights reserved.
  {% nav node in craft.menus.getNodes('legalMenu') %}
    <a href="{{node.link}}">{{ node.title }}</a>
  {% endnav %}
</div>
