<nav class="menu">
  <h1 class="menu__title"><span>Site Menu</span></h1>
  <ul class="menu__items">
  {% nav node in craft.menus.getNodes('mainMenu') %}
    <li class="menu__item" role="presentation">
      <a href="{{node.link}}">{{ node.title }}</a>
    </li>
  {% endnav %}
  </ul>
</nav>
