// =============================================================================
// Articles
// =============================================================================
.articles {
  @include media('>=laptop') {
    display: flex;
    flex-wrap: wrap;
  }

  .article {
    @include media('>=laptop') {
      width: 50%;
      padding: rem(100);
    }

    h1 {
      line-height: 1.1;
    }
  }
}

// =============================================================================
// Article
// =============================================================================
.article {
  //
}
