// =============================================================================
// Awards
// =============================================================================
.awards {
  @include media('>=laptop') {
    display: flex;
    flex-wrap: wrap;
  }

  .award {
    @include media('>=laptop') {
      width: percentage(1/6);
    }
  }
}

// =============================================================================
// Award
// =============================================================================
.award {}
