.brand {
  width: rem(48);
  height: rem(48);
  padding: 0;
  margin: 0;
  //background-color: #ccc;

  a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  svg {
    @include absolute-center;
  }
}
