// =============================================================================
// Clients
// =============================================================================
.clients {
  @include media('>=laptop') {
    display: flex;
    flex-wrap: wrap;
  }

  .client {
    @include media('>=laptop') {
      width: percentage(1/6);
    }
  }
}

// =============================================================================
// Client
// =============================================================================
.client {}
