.project-cta {
  display: block;
  margin: 0 0 rem(64);
  border-top: rem(1) solid lighten(swatch(black), 10%);
  border-bottom: rem(1) solid lighten(swatch(black), 10%);
  font-size: rem(36);
  text-align: center;
  transition: background $base-animation-speed $base-animation-easing;

  a {
    display: block;
    padding: rem(60) rem(30);
    color: swatch(white);
  }
  strong {
    font-family: $heading-font;
  }

  // hover state
  &:hover {
    background-color: lighten(swatch(black), 5%);
  }
}
