.menu {
  display: none;

  @include media('>=laptop') {
    float: right;
    display: block;
    height: 100%;
    margin-right: rem(30);
    font-weight: 500;
    font-size: rem(16);
  }

  // Menu Title
  &__title {
    @extend %ui-hidden;
  }

  // Menu Items
  &__items {
    display: flex;
    align-items: center;
    height: 100%;

    li {
      margin-left: rem(15);

      &:first-child {
        margin-left: 0;
      }
    }
    a {
      position: relative;
      display: inline-block;
      line-height: 1;
      color: swatch(black);
      transition: color ($base-animation-speed * 2) $base-animation-easing;
    }
  }

  // Menu Actions
  &__actions {
    display: inline-block;
    border: 1px solid #000;
  }

  // alternate style for dark theme
  @at-root .theme-dark .menu {

    &__items {
      a {
        color: swatch(white);
      }
    }

  }
}
