.social {
  @include media('>=laptop') {
    display: flex;
    justify-content: center;
  }

  li {
    @include media('>=laptop') {
      margin-left: rem(15);
    }

    &:first-child {
      @include media('>=laptop') {
        margin-left: 0;
      }
    }
  }
}
