/*==================================================================
 * Alerts Partial
 * Styles that help communicate success, warnings, failures, etc.
 * (c) Atlantic BT. All Rights Reserved.
 *==================================================================*/

// Chrome Frame - for unsupported versions of IE
//==================================================================*/
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


// Alerts
//==================================================================*/
.wpcf7-mail-sent-ok,
.wpcf7-not-valid-tip,
.wpcf7-validation-errors {
    display: block;
    @include rem(padding, 10px);
}

    // Success
    //--------------------------------------------------------------*/
    .wpcf7-mail-sent-ok {
        background: $brand_success; color: #fff;
        @include rem(margin-top, 10px);
        @include border-radius($border_radius);
    }

    // Warnings & Errors
    //--------------------------------------------------------------*/
    .wpcf7-not-valid-tip {
        color: $brand_error;
        @include rem(padding, 5px 0);
    }
    .wpcf7-validation-errors {
        background: $brand_error; color: #fff;
        @include rem(margin-top, 10px);
        @include border-radius($border_radius);
    }
    .wpcf7-not-valid { @include box-shadow(0 0 0 2px $brand_error); }