/*==================================================================
 * Forms Partial
 * Styles for various forms and form elements.
 * (c) Atlantic BT. All Rights Reserved.
 *==================================================================*/

// Wrappers
//==================================================================*/
form { margin: 0; }
	fieldset { border: 0; margin: 0; padding: 0; }
	label { display: block; width: 100%; padding: .5em 1em; background: #f8f9f9; border-bottom: 1px solid #eee; color: #35454c; font: 1.125em/2 "ProximaNovaSemibold", Arial, Helvetica, sans-serif; text-transform: uppercase; cursor: pointer;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}
	legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
	button, input, select, textarea { font-size: 100%; padding: 1.25em 1em; margin: 0; background: #fff; border: 0; vertical-align: baseline; *vertical-align: middle; }
	input, textarea { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	}
	button, input { line-height: normal; }
	button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
	button[disabled], input[disabled] { cursor: default; }
	input[type="submit"] { background: #df3952; color: #fff; font-family: "ProximaNovaBold", Arial, Helvetica, sans-serif; font-weight: normal; text-transform: uppercase; }
	input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
	input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
	input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
	button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
	textarea { overflow: auto; vertical-align: top; resize: vertical; }
	input:valid, textarea:valid {  }
	input:invalid, textarea:invalid { background-color: #f0dddd; }
	
	.field { margin: 0 0 1em; }


	// Legend
	//--------------------------------------------------------------*/
	legend {}


	// Fieldsets / Wrappers
	//--------------------------------------------------------------*/
	fieldset {}

		.field, .fieldpair, .fieldgroup {}
		.fieldpair, .fieldgroup {}

		// Field Pair
		.fieldpair > .field {}
		.fieldpair > .field:first-child {}

		// Field Group
		.fieldgroup .field {}


	// Labels
	//--------------------------------------------------------------*/
	label {}

		// Fieldgroup Label
		.fieldgroup-label {}

		// Checkbox, Radio Labels
		.fieldgroup-label + ul,
		.fieldgroup-label + ol {}
		.fieldgroup-label + ul li,
		.fieldgroup-label + ol li,
		.fieldgroup-label + ul label,
		.fieldgroup-lable + ol label {}


	// Fields
	//--------------------------------------------------------------*/
	input {

		// Checkbox & Radio
		&[type="checkbox"], &[type="radio"] {}
		&[type="checkbox"]:focus, &[type="radio"]:focus {}

		// File
		&[type="file"] {}

		// Focus
		&:focus {}

	}


	// Custom Checkboxes + Radios
	//--------------------------------------------------------------*/
	:root {

		// Common
		.radio label,
		.checkbox label {}
		.checkbox input[type="checkbox"],
		.radio input[type="radio"] {}

		// Custom Radios
		.radio label:before {}
		.radio input[type="radio"]:checked + label:before {}
		.radio input[type="radio"]:checked + label:after {}

		// Custom Checkbox
		.checkbox label:before {}
		.checkbox input[type="checkbox"]:checked + label:before {}

	}