/*==================================================================
 * Layouts Partial
 * Styles for various layouts and wrappers for content.
 * (c) Atlantic BT. All Rights Reserved.
 *==================================================================*/


// Global Layout
//==================================================================*/
html, body { background: $brand_background; }

.header-container,
.content-container,
.footer-container { float: left; width: 100%; clear: both; }

.wrapper {
	@include rem(padding, 0 20px);

	@include breakpoint($desktop, $no-query: true) {
		width: $container_max_width; padding: 0; margin: 0 auto;
	}
}


// Header
//==================================================================*/
.header-container {
	position: relative; background: #fff; border-top: 4px solid $brand_info; border-bottom: 1px solid rgba(#c0c0c0, .5);
	@include rem(border-top-width, 4px);
	@include rem(border-bottom-width, 1px);

	.wrapper {
		padding: 0;
	}

	// Site Title
	//--------------------------------------------------------------*/
	.site-title {
		margin: 0; font-weight: 700;
		@include rem(padding, 15px 20px);
		@include rem(font-size, 18px);

		@include breakpoint($desktop, $no-query: true) {
			float: left; padding: 0;
			@include rem(font-size, 24px);
		}

		a {
			color: #33383c; text-decoration: none; text-transform: uppercase;	
			@include transition(color .25s ease-in-out);
		}
		small {
			display: block; color: $brand_tertiary; font-weight: 400;
			@include rem(font-size, 12px);			
		
			@include breakpoint($desktop, $no-query: true) {
				@include inline-block;
				@include rem(font-size, 14px);
			}
		}

	}

}


// Content
//==================================================================*/


// Footer
//==================================================================*/
.footer-container {

	background: $brand_primary; color: #fff; text-align: center;
	@include rem(padding, 40px 0 20px);

	h1 {
		color: #fff;
		@include rem(font-size, 24px);

		@include breakpoint($tablet, $no-query: true) {
			@include rem(font-size, 30px);
		}
	}
	
	// Let's Talk
	//--------------------------------------------------------------*/
	.lets-talk {
		@include row-size(12);

		.wpcf7 {
			@include column-size(12);

			@include breakpoint($tablet, $no-query: true) {
				@include column-size(9,12);
				@include push-size(1.5);
			}
			@include breakpoint($desktop, $no-query: true) {
				@include column-size(6,12);
				@include push-size(3);
			}
		}
	}


	// Social Media
	//--------------------------------------------------------------*/
	.social-media {

		h1 { margin-bottom: 0; font-weight: 400; }
		ul {
			padding: 0; margin: 0; list-style: none;

			li {
				@include inline-block;
				@include rem(font-size, 32px);
			}
			a {
				color: $brand_background;
				@include transition(color .25s ease-in-out);
			}

			// Hover
			.twitter:hover a { color: #55acee; }
			.google:hover a { color: #dd4b39; }
			.linkedin:hover a { color: #0e76a8; }
			.dribbble:hover a { color: #ea4c89; }
		}

	}

	// Copyright
	//--------------------------------------------------------------*/
	.copyright { color: #586066; line-height: 1.2; }

}