/*==================================================================
 * Media Partial
 * Styles for various multimedia elements.
 * (c) Atlantic BT. All Rights Reserved.
 *==================================================================*/

// Figures & Images
//==================================================================*/

figure {

    a {}

    a > img {}

    a:hover > img {}
}

img {
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

// Videos
//==================================================================*/

video {}

// iFrames
//==================================================================*/

iframe {}

// Fresco - Customization
//==================================================================*/

.fr-close {}

// Google Maps
//==================================================================*/

.google-map img {}