/*==================================================================
 * Navigations Partial
 * Styles for various types of navigation componenets.
 * (c) Atlantic BT. All Rights Reserved.
 *==================================================================*/


// Primary Navigation
//==================================================================*/
nav.primary {
    
    background: #0c1315; padding-bottom: 2%; border-bottom: .071em solid #263438; text-align: left;
	@include box-shadow(0 1px 5px rgba(0,0,0,.35));
    
    @include breakpoint($tablet, $no-query: true) {
        position: relative; top: 2.5em; background: none; border-bottom: 0; padding-bottom: 0;
		@include box-shadow(none);
    }
    
	ul {
        
        padding: 6.25%;
        
        @include breakpoint($tablet, $no-query: true) {
            width: 100%; padding: 0; text-align: center;
        }
        
    }
    
    li {
        
        background: url(../img/sp_main-nav.png) no-repeat 100% -10%; border-top: .071em solid #718a94;
        
        @include breakpoint($tablet, $no-query: true) {
            display: inline-block; width: 20%; background-position: 50% -45%; border-top: 0; text-align: center;
            @include transition(.25s linear color);
        }
        
    }
    
    li:first-child { border: 0; }
    
    li:first-child + li {
        
        @include breakpoint($tablet, $no-query: true) { margin-right: 6%; }
    
    }
    
    li:first-child + li + li {
        
        @include breakpoint($tablet, $no-query: true) { margin-left: 6%; }
    
    }
    
    li a {
        
        display: block; color: #718a94; font: 1em/2.813 "ProximaNovaBold", Arial, Helvetica, sans-serif; text-transform: uppercase; text-decoration: none;
        
        @include breakpoint($tablet, $no-query: true) {
            display: block; padding-bottom: 1.5em;
			@include transition(.25s linear all);
        }        
        @include breakpoint($desktop, $no-query: true) {
            padding-bottom: 32px; line-height: 1;
        }
        
    }
    
    li em {
        
        display: none;
        
        @include breakpoint($tablet, $no-query: true) { display:inline; }
        @include breakpoint($desktop, $no-query: true) { display:block; }
        
    }
    
    li .sub {
        
        display: none;
    
        @include breakpoint($desktop, $no-query: true) {
            display: block; color: #718a94; font: .875em/1.25 "ProximaNovaRegular", Arial, Helvetica, sans-serif; text-align: center; text-transform: none;
			@include transition(.25s linear all);
        }
    
    }
    
    // Hover States
	//--------------------------------------------------------------*/
    li:hover {
        
        background-position: 100% 49.5%;
        
        @include breakpoint($tablet, $no-query: true) { background-position: 50% 33.5%; }
        @include breakpoint($desktop, $no-query: true) { background-position: 50% -25px; }
    
    }
    
    li a:hover { color: #fff; }
    
    li:hover .sub {
        
        @include breakpoint($tablet, $no-query: true) { color: #f1f3f4; }
        
    }
    
    // Active States
	//--------------------------------------------------------------*/
    li.current-menu-item {
        
        background-position: 100% 109%;
    
        @include breakpoint($tablet, $no-query: true) { background-position: 50% 109%; }
        @include breakpoint($desktop, $no-query: true) { background-position: 50% -88px; }
        
    }
   
    li.current-menu-item a { color: #fff; }
    
    li.current-menu-item .sub {
        
        @include breakpoint($tablet, $no-query: true) { color: #f1f3f4; }
        
    }
    
    .single-portfolio #menu-item-108 {
            
        background-position: 100% 109%;
    
        @include breakpoint($tablet, $no-query: true) { background-position: 50% 109%; }
        @include breakpoint($desktop, $no-query: true) { background-position: 50% -88px; color: #f1f3f4; }
    
    }
    
    .single-portfolio #menu-item-108 a { color: #fff; }
    
}

#nav-toggle {
        
    position: relative; top: -0.71em; display:block; width: 12.5%; height: 3.125em; margin-left: 80%; background: #0c1315 url(../img/i_menu-toggle.png) no-repeat 50% 70%; border-bottom: .071em solid #263438; text-indent: -9000em; z-index: 1001;
	@include box-shadow(0 1px 5px rgba(0,0,0,.35));
}