/*==================================================================
 * Contact Page Partial
 * Styles for the Contact Page
 * (c) Atlantic BT. All Rights Reserved.
 *==================================================================*/

/* Contact Page
=================================================================================================== */
.page-contact {
    
    input[type="submit"] { @include border-radius(5px); }
    
    
    // Contact 7 Plugin
	//--------------------------------------------------------------*/
    .wpcf7 { padding: 10% 5% 5%; background: #e5eaec url('../img/bg_contact-form.png') repeat-x 50% 0; }
	.wpcf7 br { display: none; }
	
	.wpcf7-not-valid-tip-no-ajax,
	.wpcf7-response-output.wpcf7-validation-errors,
	.wpcf7-response-output.wpcf7-mail-sent-ok { display: block; padding: .5em 1em; margin-top: 1em; background: #d24b48; color: #fff; line-height: 1.2; text-align: center; }
	
		/* Warning	*/	.wpcf7-response-output.wpcf7-validation-errors { background: #ffb61a; }	
		/* Error	*/	.wpcf7-not-valid-tip-no-ajax { margin-top: 0; background: #d93d23; text-align: left; }		
		/* Success	*/	.wpcf7-response-output.wpcf7-mail-sent-ok { background: #39b54a; }
    
    
    // Social Media
	//--------------------------------------------------------------*/
    .social-follow { text-align: center; }
	.social-follow h3 { padding: 0 5%; color: #718a94; font-family: "ProximaNovaRegular", Arial, Helvetica, sans-serif; }
	.social-follow ul { padding: 0; margin: 0; list-style: none; }
	.social-follow li { margin: 0 0 1em; }
	.social-follow li a { display: block; color: #718a94; font: normal 1.125em/1 "ProximaNovaSemibold", Arial, Helvetica, sans-serif; text-decoration: none; }
	.social-follow li a span { display: block; color: #b9c7cd; font-size: .875em; font-family: "ProximaNovaRegular", Arial, Helvetica, sans-serif; }
	.social-follow li em { position: relative; left: 50%; display: block; width: 60px; height: 60px; margin-left: -30px; background: #eef0f1 url('../img/sp_social-follow.png') no-repeat; border: 5px solid #f6f7f7;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
		-moz-border-radius: 60px; -webkit-border-radius: 60px; border-radius: 60px;
	}
		.social-follow .facebook em { background-position: 50% -5px; }
		.social-follow .twitter em { background-position: 50% -125px; }
		.social-follow .dribbble em { background-position: 50% -245px; }
		.social-follow .linkedin em { background-position: 50% -365px; }
    
}




/* Contact Page - tablet
=================================================================================================== */

.page-contact {}

.page-contact .entry-header .entry-figure { float: left; width: 40%; padding: 0; margin: 0 0 1em; }
.page-contact .entry-header .entry-title { float: right; width: 50%; }
.page-contact .entry-header .entry-subtitle { float: right; width: 50%; }

.page-contact .field.name, .page-contact .field.email { float: left; width: 49.057%;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.page-contact .field.name { margin-right: 1.887%; }
.page-contact .field.email + .field { clear: both; }


	/* Contact 7 Plugin
	-----------------------------------------------------------------------------*/
	.wpcf7 { padding: 47px 10.15% 44px; }


	/* Social Media
	-----------------------------------------------------------------------------*/
	.social-follow { text-align: center; }
	.social-follow li { position: relative; float: left; width: 50%; height: 60px; padding: 1em 0 0 70px; margin: 0 0 1em;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}
	.social-follow li a { text-align: left; }
	.social-follow li em { position: absolute; top: 0; left: 0; margin-left: 0; }


/* Contact Page - desktop
=================================================================================================== */

.page-contact .main.wrapper { width: 798px; }

.page-contact .entry-figure { width: 323px; }
.page-contact .entry-title { width: 54%; margin-top: 1.25em; }
.page-contact .entry-subtitle { width: 54%; }

.page-contact .field.name, .page-contact .field.email { width: 312px; }
.page-contact .field.name { margin-right: 12px; }


	/* Contact 7 Plugin
	-----------------------------------------------------------------------------*/
	.main-container div.wpcf7 { padding: 47px 81px 44px; }
	
	
	/* Social Media
	-----------------------------------------------------------------------------*/
	.social-follow { text-align: center; }
	.social-follow h3 { padding: 0 5%; color: #718a94; font-family: "ProximaNovaRegular", Arial, Helvetica, sans-serif; }
	.social-follow ul { padding: 0; margin: 0; list-style: none; }
	.social-follow li { float: left; width: 25%; }
	.social-follow li a { display: block; color: #718a94; font: normal 1.125em/1 "ProximaNovaSemibold", Arial, Helvetica, sans-serif; text-decoration: none; }
	.social-follow li em { float: left; }