/*==================================================================
 * About Page Partial
 * Styles for the About Page
 * (c) Atlantic BT. All Rights Reserved.
 *==================================================================*/

/* About Page
=================================================================================================== */
.page-about { padding: 0;
    
    .entry-figure {
    
        @include breakpoint($desktop, $no-query: true) { width: 393px; }
    
    }
    .entry-title {
        
        @include breakpoint($desktop, $no-query: true) { margin: 1.25em 0 .1em; }
        
    }
    .entry-content {
        
        @include breakpoint($desktop, $no-query: true) { float: left; width: 474px; }
        
    }
    .entry-content h2 { text-transform: none; }
    .entry-subcontent {
        
        @include breakpoint($desktop, $no-query: true) { float: right; width: 393px; }
    
    }
    
    
    // Focused Skills
	//--------------------------------------------------------------*/
    .skills {
        
        margin: 0 0 1em; background: #f4f8f9;
    
        @include breakpoint($tablet, $no-query: true) { float: left; width: 47.5%; margin: 0 0 2em; }
        @include breakpoint($desktop, $no-query: true) { float: none; width: 100%; }
    
        h2 { padding: 1em 0; margin: 0; background: #3f5056; border-top: 6px solid #222d31; color: #fff; font: normal 1.125em/1 "ProximaNovaSemibold", Arial, Helvetica, sans-serif; text-transform: uppercase; text-align: center; }        
        h3 { margin-bottom: 0; }
        p { margin-top: 0; }
        ul { padding: 1em; margin: 0; list-style: none; }
        li { padding-left: 70px; }
        .design { background: url('../img/i_visual-design.png') no-repeat 0 0; }
		.development { background: url('../img/i_development.png') no-repeat 5px 0; }
		.ux { background: url('../img/i_userexperience.png') no-repeat 3px 0; }
		.mobile { background: url('../img/i_mobile.png') no-repeat 9px 0; }
        
    }
    
    
    // Selected Awards
	//--------------------------------------------------------------*/
    .awards {
        
        margin: 0 0 3em; background: #f4f8f9;
        
        @include breakpoint($tablet, $no-query: true) { float: right; width: 47.5%; margin: 0 0 2em; }
        @include breakpoint($desktop, $no-query: true) { float: none; width: 100%; }
        
        h2 { padding: 1em 0; margin: 0; background: #fd7400; border-top: 6px solid #fc5400; color: #fff; font: normal 1.125em/1 "ProximaNovaSemibold", Arial, Helvetica, sans-serif; text-transform: uppercase; text-align: center; }
        ul { padding: 1em; margin: 0; list-style: none; text-align: center; }
        li {
            
            margin-top: 1em;
        
            @include breakpoint($desktop, $no-query: true) { float: left; width: 50%; margin-top: 1em; }
        
        }
        li:first-child { margin: 0; }
        figure { padding: 5% 10%; }
        
    }

}


/* Media Queries
=================================================================================================== */

@media all and (-webkit-min-device-pixel-ratio: 2) {


	.page-about .skills .design { background-image: url('../img/i_visual-design2x.png'); background-size: 50px auto; }
	.page-about .skills .development { background-image: url('../img/i_development2x.png'); background-size: 38px auto; }
	.page-about .skills .ux { background-image: url('../img/i_userexperience2x.png'); background-size: 41px auto; }
	.page-about .skills .mobile { background-image: url('../img/i_mobile2x.png'); background-size: 30px auto; }
	
}