/*==================================================================
 * Process Page Partial
 * Styles for the Process Page
 * (c) Atlantic BT. All Rights Reserved.
 *==================================================================*/

/* Process Page
=================================================================================================== */
.page-process {
    
    .entry-figure {
    
        @include breakpoint($tablet, $no-query: true) { width: 45%; margin-right: .5em; }
        @include breakpoint($desktop, $no-query: true) { width: 411px; margin-bottom: 2em; }
    
    }
    .entry-title {
    
        margin: 0;
        
        @include breakpoint($tablet, $no-query: true) { width: 45%; margin-top: 2.5em; }
        @include breakpoint($desktop, $no-query: true) { width: 50%; margin-top: 2em; }
    
    }
    .entry-subtitle {
            
        margin: 0 0 2em; color: #718a94; font: 1.5em/1 "ProximaNovaRegular", Arial, Helvetica, sans-serif; text-align: center;
    
        @include breakpoint($tablet, $no-query: true) { width: 45%; }
        @include breakpoint($desktop, $no-query: true) { width: 50%; }
    
    }
    
    // My Process
	//--------------------------------------------------------------*/
    .my-process {
            
        padding: 0; margin: 0; list-style: none;
    
        @include breakpoint($tablet, $no-query: true) { letter-spacing: -4px; }
        @include breakpoint($desktop, $no-query: true) { margin-left: 81px; }
    
    }
    .my-process li {
        
        padding: 10%; margin: 1em 0 0; background: #f5f8f9;
        @include border-radius(5px);
        
        @include breakpoint($tablet, $no-query: true) { float: left; width: 47.5%; padding: 5%; margin-left: 5%; letter-spacing: normal; }
        @include breakpoint($desktop, $no-query: true) { width: 393px; padding: 40px; margin-left: 12px; }
        
    }
    .my-process li:nth-child(2n+1) {
            
        @include breakpoint($tablet, $no-query: true) { margin-left: 0; clear: left; }
    
    }	
	.my-process li h2 {
        
        padding: 0; margin: 0; line-height: 2;
    
        @include breakpoint($tablet, $no-query: true) { margin: 0 0 1em; }
    
    }
    .my-process li.discover h2 {
        
        padding-top: 128px; background: url('../img/bg_discover.jpg') no-repeat 50% 0;
    
        @include breakpoint($desktop, $no-query: true) { padding: 0 0 0 141px; background-position: -10px 0; line-height: 118px; }
    
    }
    .my-process li.plan h2 {
        
        padding-top: 122px; background: url('../img/bg_strategize.jpg') no-repeat 50% 0;
    
        @include breakpoint($desktop, $no-query: true) { padding: 0 0 0 156px; background-position: 0 0; line-height: 112px; }
    
    }
    .my-process li.create h2 {
        
        padding-top: 115px; background: url('../img/bg_create.jpg') no-repeat 50% 0;
    
        @include breakpoint($desktop, $no-query: true) { padding: 0 0 0 152px; background-position: 0 0; line-height: 105px; }
    
    }
    .my-process li.implement h2 {
        
        padding-top: 122px; background: url('../img/bg_construct.jpg') no-repeat 50% 0;
    
        @include breakpoint($desktop, $no-query: true) { padding: 0 0 0 163px; background-position: 0 0; line-height: 112px; }
    
    }
    .my-process li.measure h2 {
        
        padding-top: 95px; background: url('../img/bg_measure.jpg') no-repeat 50% 0;
    
        @include breakpoint($desktop, $no-query: true) { padding: 0 0 0 165px; background-position: 0 0; line-height: 85px; }
    
    }
    .my-process li.evolve h2 {
        
        padding-top: 128px; background: url('../img/bg_evolve.jpg') no-repeat 50% 0;
    
        @include breakpoint($desktop, $no-query: true) { padding: 0 0 0 111px; background-position: 0 0; line-height: 118px; }
    
    }
	.my-process li p { padding: 0; margin: 0; }
    
}


/* Media Queries
=================================================================================================== */
@media all and (-webkit-min-device-pixel-ratio: 2) {

	.my-process li.discover h2 { background-image: url('../img/bg_discover2x.jpg'); background-size: 131px auto; }
	.my-process li.plan h2 { background-image: url('../img/bg_strategize2x.jpg'); background-size: 136px auto; }
	.my-process li.create h2 { background-image: url('../img/bg_create2x.jpg'); background-size: 132px auto; }
	.my-process li.implement h2 { background-image: url('../img/bg_construct2x.jpg'); background-size: 143px auto; }
	.my-process li.measure h2 { background-image: url('../img/bg_measure2x.jpg'); background-size: 145px auto; }
	.my-process li.evolve h2 { background-image: url('../img/bg_evolve2x.jpg'); background-size: 91px auto; }
	
}