/*==================================================================
 * Portfolio Partial
 * Styles for portfolio content.
 * (c) Atlantic BT. All Rights Reserved.
 *==================================================================*/

/* Projects
=================================================================================================== */
.projects {

    @include rem(padding, 40px 0);

    h1 {
        color: $text_color; text-align: center;
        @include rem(margin, 0 0 10px);
        @include rem(font-size, 28px);
    }
    h2 {
        margin: 0; color: $brand_tertiary; text-align: center;
        @include rem(font-size, 22px);
    }

}