/*==================================================================
 * Typography Partial
 * Styles for overall typography and misc. content components.
 * (c) Atlantic BT. All Rights Reserved.
 *==================================================================*/

/* Custom Fonts
//==================================================================*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Handlee);

// Global
//==================================================================*/
html, body { font-family: $base_font_family; font-weight: $base_weight_reg; -webkit-font-smoothing: antialiased; }
hr {}


// Headings
//==================================================================*/
h1, h2, h3, h4, h5, h6 { color: #1a1a1a; font: 700 1em/1.286 "Open Sans", Arial, Helvetica, sans-serif; }


// Paragraphs
//==================================================================*/
p {}


// Links
//==================================================================*/
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


// Lists
//==================================================================*/
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
	dd { margin: 0 0 0 40px; }
	nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


	// Unordered
	//--------------------------------------------------------------*/
	ul {}
	ul li {}


	// Ordered
	//--------------------------------------------------------------*/
	ol {}
	ol li {}


	// Definition
	//--------------------------------------------------------------*/
	dl {}
	dt {

		&:first-child {}

	}
	dd {}


// Blockquotes
//==================================================================*/
blockquote {

	p {}
	small {}

}