/*==================================================================
 * Typography Partial
 * Styles for overall typography and misc. content components.
 * (c) Atlantic BT. All Rights Reserved.
 *==================================================================*/

/* Custom Fonts
//==================================================================*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Handlee);

// Global
//==================================================================*/
html, body { font-family: $base_font_family; font-weight: $base_weight_reg; line-height: $paragraph_line_height; -webkit-font-smoothing: antialiased; }
hr {}


// Headings
//==================================================================*/
h1, h2, h3, h4, h5, h6 { color: #1a1a1a; font: $header_font_weight $h6_font_size/$header_line_height $header_font_family; text-rendering: $header_text_rendering;
	@include rem(margin, $header_top_margin 0 $header_bottom_margin);
	@include rem(letter-spacing, -1px);
}
h1 {
	@include rem(font-size, $h1_font_size);
}
h2 {
	font-weight: 400;
	@include rem(font-size, $h2_font_size);
}
h3 {
	font-weight: 400;
	@include rem(font-size, $h3_font_size);
}
h4 {
	@include rem(font-size, $h4_font_size);
}
h5 {
	@include rem(font-size, $h5_font_size);
}


// Paragraphs
//==================================================================*/
p {}


// Links
//==================================================================*/
a {
	color: $link_color;
	@include transition(color .25s ease-in-out);
}
a:hover { color: $link_color_hover; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


// Lists
//==================================================================*/
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
	dd { margin: 0 0 0 40px; }
	nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


	// Unordered
	//--------------------------------------------------------------*/
	ul {}
	ul li {}


	// Ordered
	//--------------------------------------------------------------*/
	ol {}
	ol li {}


	// Definition
	//--------------------------------------------------------------*/
	dl {}
	dt {

		&:first-child {}

	}
	dd {}


// Blockquotes
//==================================================================*/
blockquote {

	p {}
	small {}

}