/*==================================================================
 * Portfolio Partial
 * Styles for portfolio content.
 * (c) Atlantic BT. All Rights Reserved.
 *==================================================================*/

/* Projects
=================================================================================================== */
.projects {

    @include rem(padding, 40px 0);

    h1 {
        margin: 0; color: $text_color; text-align: center;
        @include rem(font-size, 28px);
    }
    h2 {
        color: $brand_tertiary; text-align: center;
        @include rem(margin, 0 0 20px);
        @include rem(font-size, 22px);
    }
    ul {
        padding: 0; margin: 0; font-size: 0; line-height: 0; list-style: none;
    
        li {
            width: 50%; margin: 0;
            @include inline-block;
        
            @include breakpoint($tablet, $no-query: true) {
                width: percentage(1/3);
            }
            @include breakpoint($desktop, $no-query: true) {
                width: percentage(1/4);
            }

        }

    }

}