{% extends "_layout" %}
{% set title = "Work" %}
{% set bodyClass = 'theme-dark' %}

{% block content %}
<article>
  <div class="band" data-topic="expertise" data-hero="true" data-align="center">
    <div class="wrapper wrapper--condensed">
      <h1>Entry Title</h1>
      <p>Entry Subtitle</p>
      {{ entry.body }}
    </div>
  </div>

  <div class="wrapper">
    <section>
      <div class="related">
      {% for entry in craft.entries.section('projects').find() %}
        <div class="related__block related__block--branding">
          <a href="{{ entry.url }}">
            <h2>{{ entry.title }}</h2>
          </a>
        </div>
      {% endfor %}
      </div>
    </section>
  </div>

  <section>
    <div class="wrapper">
      <h2>Work in Progress</h2>
      <ul class="shots"></ul>
    </div>
  </section>
</article>
{% endblock %}

{% block scripts %}
<script src="{{ siteUrl }}js/dribbble.js"></script>
<script>
$.jribbble.setToken('21e6d63a0005cdec7cd62f3a450845523b7c59151bad82d32544f470037961be');
$.jribbble.users('markr').shots().then(function(res) {
  var html = [];
  res.forEach(function(shot) {
    html.push('<li>');
    html.push('<a href="' + shot.html_url + '" target="_blank">');
    html.push('<img src="' + shot.images.normal + '" draggable="false">');
    html.push('</a></li>');
  });
  $('.shots').html(html.join(''));
}).then(function() {
  var api = $('#barba-wrapper').data('jsp');
  api.reinitialise();
});
</script>
{% endblock %}
