// =============================================================================
// Settings
// =============================================================================

// -----------------------------------------------------------------------------
// Breakpoints
// -----------------------------------------------------------------------------
$breakpoints: (
  phone       : rem(320),
  phablet     : rem(480),
  tablet      : rem(640),
  laptop      : rem(960),
  desktop     : rem(1280),
  desktop_wide: rem(1440)
);

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
$colors: (
  black: rgb(30, 30, 35),
  white: rgb(255, 255, 255)
);
