// =============================================================================
// Settings
// =============================================================================

// -----------------------------------------------------------------------------
// Breakpoints
// -----------------------------------------------------------------------------
$breakpoints: (
  phone:        rem(320),
  phablet:      rem(480),
  tablet:       rem(640),
  laptop:       rem(960),
  desktop:      rem(1280),
  desktop_wide: rem(1440)
);

// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
$colors: (
  black: rgb(24, 26, 28),
  gray:  rgb(90, 90, 105),
  white: rgb(255, 255, 255),
  pink:  rgb(236, 57, 81)
);

// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------
$base-font: 'effra', Helvetica, Arial, sans-serif;
// font-weights: 100

$heading-font: 'skolar-sans-latin', Helvetica, Arial, sans-serif;
// font-weights: 100, 400, 700



// -----------------------------------------------------------------------------
// Animations
// -----------------------------------------------------------------------------
$base-animation-speed: 150ms;
$base-animation-easing: cubic-bezier(0.860, 0.000, 0.070, 1.000);
