.awards {
  position: relative;
  display: grid;

  @include media('>=large') {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 320px 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .dots--section {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
  }
}

.award {
  position: relative;
  padding: min(2.222vh, 24px);
  background-color: var(--color-carbon-800);
  border-radius: var(--border-radius);
  color: var(--color-carbon-400);
  z-index: 2;

  &__title {
    margin: 0 0 24px;
    color: var(--color-crystal-white);
    font-size: 18px;
    font-weight: 600;
  }

  &__subtitle {
    margin: 0 0 8px;
  }

  &__organization {
    margin: 0 0 4px;
  }


  // Featured awards
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:before {
      content: '';
      display: block;
      width: 64px;
      height: 64px;
      background-color: var(--color-green);
      border-radius: 64px;
    }

    .award__title {
      margin-top: 8px;
      font-size: 20px;
    }

    .award__date {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &:nth-child(1) {
    &:before {
      background-image: url('/icons/icon--team.svg');
      background-position: 50% 50%;
      background-size: 32px auto;
      background-repeat: no-repeat;
    }    
  }

  &:nth-child(2) {
    &:before {
      background-image: url('/icons/icon--star.svg');
      background-position: 50% 50%;
      background-size: 32px auto;
      background-repeat: no-repeat;
    }
  }

  &:nth-child(3) {
    &:before {
      background-image: url('/icons/icon--navigate.svg');
      background-position: 50% 50%;
      background-size: 32px auto;
      background-repeat: no-repeat;
    }
  }

  &:nth-child(4) {
    &:before {
      background-image: url('/icons/icon--experience.svg');
      background-position: 50% 50%;
      background-size: 32px auto;
      background-repeat: no-repeat;
    }
  }
}