.clients {
  display: grid;
  align-items: center;
  justify-content: center;

  @include media('>=large') {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 128px);
  }
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}