.clients {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 128px);
  align-items: center;
  justify-content: center;
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}