body {}

// =============================================================================
// App Header
// =============================================================================
.app__header {

}


// =============================================================================
// App Footer
// =============================================================================
.app__footer {
  background-color: color(black);
  color: color(white);
}


// =============================================================================
// Wrappers
// =============================================================================
.wrapper {
  @include media('>=laptop') {
    max-width: rem(1280);
    margin: 0 auto;
  }
}
