.band {
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  // Band padding
  &[data-padding='tiny'] {
    padding: rem(30) 0;
  }
  &[data-padding='average'] {
    padding: rem(60) 0;
  }
  &[data-padding='big'] {
    padding: rem(120) 0;
  }
  &[data-padding='giant'] {
    padding: rem(240) 0;
  }

  &[data-padding='top-tiny'] {
    padding-top: rem(30);
  }
  &[data-padding='top-average'] {
    padding-top: rem(60);
  }
  &[data-padding='top-big'] {
    padding-top: rem(120);
  }
  &[data-padding='top-giant'] {
    padding-top: rem(240);
  }

  &[data-padding='bottom-tiny'] {
    padding-bottom: rem(30);
  }
  &[data-padding='bottom-average'] {
    padding-bottom: rem(60);
  }
  &[data-padding='bottom-big'] {
    padding-bottom: rem(120);
  }
  &[data-padding='bottom-giant'] {
    padding-bottom: rem(240);
  }

  // Band alignment
  &[data-align='center'] {
    text-align: center;
  }

  // Band themes
  &[data-theme='dark'] {
    background-color: swatch(black);
    color: swatch(white);
  }
  &[data-theme='light'] {
    background-color: swatch(white);
    color: swatch(black);
  }

  // Band sizes
  &[data-hero='true'] {
    height: 50vh;
  }

  // Unique topics
  &[data-topic='expertise'] {
    //background-image: url('https://theultralinx.com/.image/t_share/MTI5MDIzNjQxMjQ0NDEyNTQ3/darkgon.png');
  }

}
