.container {}

header.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: rem(16) rem(24);
  margin: 0;
  transition: transform $base-animation-speed * 4 $base-animation-easing;
  z-index: 500;

  &--pinned {
    transform: translate3d(0, 0, 0);
  }
  &--unpinned {
    transform: translate3d(0, -100%, 0);
  }
}

main.container {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: auto;
  z-index: 1;

  > div { overflow: auto; }
}

footer.container {
  padding: 0 0 rem(30);
  text-align: center;
}
