%flex-grid {
  display: flex;
  flex-wrap: wrap;

  // various sizes
  @for $i from 1 through 6 {
    &[data-size='#{$i}'] %flex-item {
      width: percentage(1/$i);
    }
  }
}
%flex-item {
  a {
    position: relative;
    display: block;
    color: swatch(white);
  }
  h2 {
    position: absolute;
    bottom: rem(30);
    left: rem(30);
    margin: 0;
  }
}
