// =============================================================================
// Wrappers
// =============================================================================
.wrapper {
  width: 81.25%;
  height: 100%;
  padding: 0 10%;
  margin: 0 auto;

  @include media(">=desktop_wide") {
    padding: 0;
  }

  &--condensed {
    max-width: rem(640);
  }
}
