* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--color-carbon-900);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  text-rendering: optimizeLegibility;
}

main {}

::selection {
  background-color: var(--color-green);
  color: var(--color-carbon-900);
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
