<ul class="social">
  {% for block in social.socialLinks %}
    <li class="{{ block.socialLinkCssClass }}">
      <a href="{{ block.socialLinkUrl }}" title="{{ block.socialLinkDescription }}" target="_blank"><span>{{ block.socialLinkLabel }}</span></a>
    </li>
  {% endfor %}
</ul>
