{% extends "_layout" %}
{% set bodyClass = 'theme-dark' %}

{% block content %}
<article>
  <div class="band" data-topic="expertise" data-hero="true" data-align="center">
    <div class="wrapper wrapper--condensed">
      <h1>{{ entry.featuredTitle }}</h1>
      <p>{{ entry.featuredSubtitle }}</p>
    </div>
  </div>
  {{ entry.body }}
</article>

{% endblock %}
