{% extends "_layout" %}
{% set bodyClass = 'theme-dark' %}

{% block content %}
<article itemscope="" itemtype="http://schema.org/WebPage">
  <header class="band" data-padding="giant" data-align="center">
    <div class="title">
      <h1>{{ entry.featuredTitle }}</h1>
      <p>{{ entry.featuredSubtitle }}</p>
    </div>
  </header>
  {{ entry.body }}
</article>

{% endblock %}
