$bg-color: var(--color-carbon-900);
$dot-color: var(--color-carbon-600);

$dot-size: 4px;
$dot-space: 16px;

.dots {
  display: block;

  &--skill {
    width: 60px;
    height: 40px;
    background: transparent;
    background-image: radial-gradient(var(--color-carbon-600) 2px, transparent 0);
    background-size: 20px 20px;
    background-position: 0 0;
  }

  &--skill-ext {
    width: 140px;
    height: 40px;
    background: transparent;
    background-image: radial-gradient(var(--color-carbon-600) 2px, transparent 0);
    background-size: 20px 20px;
    background-position: 0 0;
  }

  &--section {
    width: 144px;
    height: 144px;
    background: transparent;
    background-image: radial-gradient(var(--color-crystal-white) 2px, transparent 0);
    background-size: 36px 36px;
    background-position: 0 0;
  }

}