{% extends "_layout" %}
{% set bodyClass = 'theme-dark' %}

{% block content %}
<article itemscope="" itemtype="http://schema.org/WebPage">
  <header class="band" data-padding="giant" data-align="center">
    <div class="title">
      <h1>{{ entry.featuredTitle }}</h1>
      <p>{{ entry.featuredSubtitle }}</p>
    </div>
  </header>

  <div class="wrapper">


    <p>Superior mobile experiences for productivity, brand engagement, eCommerce and entertainment. Highly engaging UI and UX, natively developed across core mobile platforms to connect with users at their fingertips.</p>

    <hr />

    <button>Start a project</button>

    <div>
      Explore other expertise
    </div>

    <div class="related">
      <div class="related__block related__block--branding">
        <a href="/expertise/branding">
          <h2>Branding</h2>
        </a>
      </div>
      <div class="related__block related__block--strategy">
        <a href="/expertise/websites">
          <h2>Strategy</h2>
        </a>
      </div>
      <div class="related__block related__block--websites">
        <a href="/expertise/apps">
          <h2>Websites</h2>
        </a>
      </div>
    </div>
  </div>
</article>
{% endblock %}

{% block scripts %}{% endblock %}
