{% extends "_layout" %}

{% block content %}

<article>
  <div class="wrapper">
    <h1>{{ entry.title }}</h1>
    {{ entry.body }}
    <p>
      Great experiences for people, better outcomes for brands – award-winning websites at the forefront of the web.
From branding, informational and educational sites through to product launches, marketing and social campaigns, our world class responsive websites are designed to improve reach, drive leads, and establish an impressive brand presence.
    </p>

    <hr />

    <button>Start a project</button>

    <div>
      Explore other expertise
    </div>
  </div>


  <div class="related">
    <div class="related__block related__block--strategy">
      <a href="/expertise/strategy">
        <h2>Strategy</h2>
      </a>
    </div>
    <div class="related__block related__block--websites">
      <a href="/expertise/websites">
        <h2>Websites</h2>
      </a>
    </div>
    <div class="related__block related__block--apps">
      <a href="/expertise/apps">
        <h2>Apps</h2>
      </a>
    </div>
  </div>
</article>

{% endblock %}

{% block scripts %}{% endblock %}
