{% extends "_layout" %}

{% block content %}

<article itemscope="" itemtype="http://schema.org/WebPage">
  <div class="band" data-topic="expertise" data-hero="true" data-align="center">
    <div class="wrapper" data-size="condensed">
      <h1>{{ entry.title }}</h1>
      <p>Digital isn't the word of the moment, it's the way forward. We're an award-winning independent agency, building better connections between brands and people through purposeful design, experience and technology.</p>
      {{ entry.body }}
    </div>
  </div>
  <section class="band" data-align="center">
    <div class="wrapper">
      <ul class="services">
        <li>
          <h2><a href="/expertise/branding">Branding</a></h2>
        </li>
        <li>
          <h2><a href="/expertise/strategy">Strategy</a></h2>
        </li>
        <li>
          <h2><a href="/expertise/websites">Websites</a></h2>
        </li>
        <li>
          <h2><a href="/expertise/apps">Apps</a></h2>
        </li>
      </ul>
    </div>
  </section>
  <section class="band" data-align="center">
    <div class="wrapper">
      <h2>Partners</h2>
      <p>We work with the best; startups to enterprise.</p>
      <ul class="partners">
        <li>
          <span><img src="https://humaan.com/wp-content/themes/humaan/img/client-logos/form.png" /></span>
        </li>
        <li>
          <span><img src="https://humaan.com/wp-content/themes/humaan/img/client-logos/form.png" /></span>
        </li>
        <li>
          <span><img src="https://humaan.com/wp-content/themes/humaan/img/client-logos/form.png" /></span>
        </li>
        <li>
          <span><img src="https://humaan.com/wp-content/themes/humaan/img/client-logos/form.png" /></span>
        </li>
        <li>
          <span><img src="https://humaan.com/wp-content/themes/humaan/img/client-logos/form.png" /></span>
        </li>
        <li>
          <span><img src="https://humaan.com/wp-content/themes/humaan/img/client-logos/form.png" /></span>
        </li>
        <li>
          <span><img src="https://humaan.com/wp-content/themes/humaan/img/client-logos/form.png" /></span>
        </li>
        <li>
          <span><img src="https://humaan.com/wp-content/themes/humaan/img/client-logos/form.png" /></span>
        </li>
        <li>
          <span><img src="https://humaan.com/wp-content/themes/humaan/img/client-logos/form.png" /></span>
        </li>
        <li>
          <span><img src="https://humaan.com/wp-content/themes/humaan/img/client-logos/form.png" /></span>
        </li>
      </ul>
    </div>
  </section>
  <section class="band">
    <div class="wrapper">
      <h2>Process</h2>
      <p>People and their relationship with technology is the only reason we're here. We take a people-first approach across the board, because it's more important to speak for humans than for search engines. Your users are our users, and giving them an awesome experience is our goal.</p>
    </div>
  </section>
</article>

{% endblock %}

{% block scripts %}{% endblock %}
