{% extends "_layout" %}
{% set bodyClass = 'theme-dark' %}

{% block content %}
<article itemscope="" itemtype="http://schema.org/WebPage">
  <header class="band" data-align="center">
    {% if entry.featuredImage | length %}
      {% set asset = entry.featuredImage.first() %}
      <img src="{{ asset.url }}" />
    {% endif %}

    <div class="wrapper">
      <div class="title">
        <h1>{{ entry.featuredTitle }}</h1>
        <p>{{ entry.featuredSubtitle }}</p>
      </div>
    </div>


  </header>
  <section class="band">
    <div class="wrapper" data-size="condensed">
      {{ entry.body }}
    </div>
  </section>
</article>

{% endblock %}

{% block scripts %}{% endblock %}
