{% extends "_layout" %}

{% block content %}
<article>
  <div class="band" data-topic="expertise" data-hero="true" data-align="center">
    <div class="wrapper" data-size="condensed">
      <h1>{{ entry.title }}</h1>
      <p>Digital isn't the word of the moment, it's the way forward. We're an award-winning independent agency, building better connections between brands and people through purposeful design, experience and technology.</p>
      {{ entry.body }}
    </div>
  </div>

  <div class="wrapper">


    <p>Superior mobile experiences for productivity, brand engagement, eCommerce and entertainment. Highly engaging UI and UX, natively developed across core mobile platforms to connect with users at their fingertips.</p>

    <hr />

    <button>Start a project</button>

    <div>
      Explore other expertise
    </div>

    <div class="related">
      <div class="related__block related__block--branding">
        <a href="/expertise/branding">
          <h2>Branding</h2>
        </a>
      </div>
      <div class="related__block related__block--strategy">
        <a href="/expertise/websites">
          <h2>Strategy</h2>
        </a>
      </div>
      <div class="related__block related__block--apps">
        <a href="/expertise/apps">
          <h2>Apps</h2>
        </a>
      </div>
    </div>
  </div>
</article>
{% endblock %}

{% block scripts %}
{% endblock %}
