{% extends '_layout' %}
{% set title = 'Home Page' %}
{% set bodyClass = 'theme-dark' %}

{% block content %}
<section class="hero">
  <div class="hero__content">
    <h1>{{ entry.featuredTitle }}</h1>
    <p>{{ entry.featuredSubtitle }}</p>
    <p>{{ entry.body | shortcodes }}</p>
  </div>
  <img src="img/bg_hero.jpg" />
</section>
{% endblock %}

{% block scripts %}
{% endblock %}
