{% extends "_layout" %}

{% block content %}
  <article style="height:100%; background-color:#1a1a1a;">
    {# entry.body #}

    <div>
      <img src="https://unsplash.it/275/275/?random" />
      <img src="https://unsplash.it/275/275/?random" />
      <img src="https://unsplash.it/275/275/?random" />
      <img src="https://unsplash.it/275/275/?random" />
    </div>

  </article>
{% endblock %}

{% block scripts %}
{% endblock %}
