{% extends '_layout' %}

{% block content %}

<div class="wrapper" data-size="condensed">
  <img src="https://unsplash.it/640/480" />
  <h1>User Interface Kit</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet mi massa. Nunc malesuada bibendum magna, malesuada fringilla libero interdum ac. Quisque euismod vitae enim vitae bibendum. Etiam vel tempus ex. Morbi fringilla pretium porttitor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec in massa in nisi blandit finibus. Phasellus a dui vehicula, congue tellus sit amet, ornare nisl.</p>
  <h2>Pellentesque in justo eros.</h2>
  <p>In tellus enim, malesuada at faucibus sed, viverra vitae sem. Mauris quis egestas leo. Nunc eget odio non odio sodales bibendum. In quis orci et tellus laoreet tristique. Etiam vestibulum sem erat, ut viverra nibh vestibulum vel. Vivamus laoreet varius magna, in consectetur ipsum pulvinar eget. Nunc est sapien, pulvinar nec augue a, sodales rhoncus nibh. Aliquam auctor, lacus id dignissim facilisis, augue neque auctor quam, eget dapibus felis urna in magna. Nulla facilisi. Vivamus et ex commodo, luctus purus ut, ultricies risus. Maecenas sit amet erat laoreet, malesuada mi ac, iaculis ligula. Phasellus id orci luctus, porttitor ante sed, lacinia turpis. Quisque mattis vulputate blandit.</p>
  <h3>Maecenas dignissim nibh sit amet quam dignissim pulvinar.</h3>
  <p>Nulla interdum, ligula sed convallis egestas, ante diam pellentesque massa, non consectetur orci odio eget urna. Vestibulum at erat dapibus, viverra purus imperdiet, scelerisque mauris. Sed magna ex, vestibulum nec facilisis ut, fringilla eget orci. Morbi ut nunc et nibh sollicitudin tempor quis quis lacus. Vestibulum gravida mauris orci, sit amet auctor dui scelerisque et. Vivamus id mi odio. Sed eleifend, ipsum faucibus commodo fringilla, metus nunc pretium velit, vitae mattis tellus sem a diam. Pellentesque semper, velit ut rhoncus ultrices, augue quam lacinia nulla, eu tincidunt mi turpis ac ligula. Curabitur a sem tellus. Nam scelerisque varius orci sed viverra. Nunc lectus lectus, lacinia finibus pellentesque at, convallis vel enim. Proin pulvinar consequat ligula quis gravida.</p>
  <h4>Vestibulum auctor fermentum lectus, eleifend pulvinar ante mattis sit amet.</h4>
  <p>Vestibulum viverra malesuada magna vel tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean venenatis semper finibus. Aliquam iaculis, tellus id vulputate posuere, nisl magna laoreet quam, faucibus fringilla nisl felis faucibus nunc. Donec sollicitudin molestie laoreet. Cras lobortis tempus venenatis. Etiam sagittis, ante commodo tincidunt aliquet, odio ex tristique massa, vel scelerisque purus turpis eget eros. Nam non ipsum magna. Pellentesque sodales nulla ut ligula euismod aliquam. Nunc et accumsan mauris.</p>
  <h5>Suspendisse ac varius nisi. Vivamus ac pretium eros. Suspendisse sit amet aliquet tortor.</h5>
  <p>Vestibulum pulvinar turpis sed arcu bibendum, sit amet euismod elit dictum. Nunc semper lorem mauris, vel tincidunt mi tempus a. Integer feugiat turpis id mollis mollis. Praesent sit amet elit metus. Aenean quis nunc purus. Etiam dictum lacus nisi, sodales consectetur justo consectetur lobortis. Pellentesque eu nibh eu erat iaculis porttitor. Curabitur in arcu ac velit fringilla lacinia quis vitae dui. Curabitur orci ex, sollicitudin eget posuere ut, bibendum at est. Donec vitae purus laoreet, pharetra velit eleifend, elementum metus.</p>
  <h6>Suspendisse ac varius nisi. Vivamus ac pretium eros. Suspendisse sit amet aliquet tortor.</h6>
  <p>Vestibulum pulvinar turpis sed arcu bibendum, sit amet euismod elit dictum. Nunc semper lorem mauris, vel tincidunt mi tempus a. Integer feugiat turpis id mollis mollis. Praesent sit amet elit metus. Aenean quis nunc purus. Etiam dictum lacus nisi, sodales consectetur justo consectetur lobortis. Pellentesque eu nibh eu erat iaculis porttitor. Curabitur in arcu ac velit fringilla lacinia quis vitae dui. Curabitur orci ex, sollicitudin eget posuere ut, bibendum at est. Donec vitae purus laoreet, pharetra velit eleifend, elementum metus.</p>

  <h6>Unordered list</h6>
  <ul>
    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
    <li>Aliquam tincidunt mauris eu risus.</li>
    <li>Vestibulum auctor dapibus neque.</li>
  </ul>

  <h6>Ordered list</h6>
  <ol>
    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
    <li>Aliquam tincidunt mauris eu risus.</li>
    <li>Vestibulum auctor dapibus neque.</li>
  </ol>

  <h6>Definition list</h6>
  <dl>
    <dt>Definition list</dt>
    <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</dd>
      <dt>Lorem ipsum dolor sit amet</dt>
      <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.</dd>
      </dl>

      <h6>Form</h6>
      <form action="#" method="post">
        <div>
          <label for="name">Text Input:</label>
          <input type="text" name="name" id="name" value="" tabindex="1" />
        </div>

        <div>
          <h4>Radio Button Choice</h4>

          <label for="radio-choice-1">Choice 1</label>
          <input type="radio" name="radio-choice-1" id="radio-choice-1" tabindex="2" value="choice-1" />

          <label for="radio-choice-2">Choice 2</label>
          <input type="radio" name="radio-choice-2" id="radio-choice-2" tabindex="3" value="choice-2" />
        </div>

        <div>
          <label for="select-choice">Select Dropdown Choice:</label>
          <select name="select-choice" id="select-choice">
            <option value="Choice 1">Choice 1</option>
            <option value="Choice 2">Choice 2</option>
            <option value="Choice 3">Choice 3</option>
          </select>
        </div>

        <div>
          <label for="textarea">Textarea:</label>
          <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
        </div>

        <div>
          <label for="checkbox">Checkbox:</label>
          <input type="checkbox" name="checkbox" id="checkbox" />
        </div>

        <div>
          <input type="submit" value="Submit" />
        </div>
      </form>

      <h6>Table</h6>
      <table class="data">
        <tr>
          <th>Entry Header 1</th>
          <th>Entry Header 2</th>
          <th>Entry Header 3</th>
          <th>Entry Header 4</th>
        </tr>
        <tr>
          <td>Entry First Line 1</td>
          <td>Entry First Line 2</td>
          <td>Entry First Line 3</td>
          <td>Entry First Line 4</td>
        </tr>
        <tr>
          <td>Entry Line 1</td>
          <td>Entry Line 2</td>
          <td>Entry Line 3</td>
          <td>Entry Line 4</td>
        </tr>
        <tr>
          <td>Entry Last Line 1</td>
          <td>Entry Last Line 2</td>
          <td>Entry Last Line 3</td>
          <td>Entry Last Line 4</td>
        </tr>
      </table>

      <h6>Blockquote</h6>
      <blockquote>
        Lorem ipsum dolor sit amet, consectetuer
        adipiscing elit. Aenean commodo ligula eget dolor.
        Aenean massa <strong>strong</strong>. Cum sociis
        natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Donec quam felis, ultricies
        nec, pellentesque eu, pretium quis, sem. Nulla consequat
        massa quis enim. Donec pede justo, fringilla vel,
        aliquet nec, vulputate eget, arcu. In <em>em</em>
        enim justo, rhoncus ut, imperdiet a, venenatis vitae,
        justo. Nullam <a class="external ext" href="#">link</a>
        dictum felis eu pede mollis pretium.
      </blockquote>
    </div>

  {% endblock %}

  {% block scripts %}
{% endblock %}
